body{
    background: linear-gradient(white,rgb(226, 116, 204));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.logo{
    display: block;
    margin: auto;
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

h1{
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
}

.container{
    width: 95vmin;
    height: 65vh;
    margin: auto;
    /* margin-top: 2%; */
    margin-bottom: 1.5%;
    border: 2px solid black;
    border-radius: 13px;
    overflow-y: auto; /*show scroll bar ponly when there are many msgs to scroll*/
}

.message{
    padding : 5px 8px;
    margin: 10px 25px;
    font-size: 3vh;
    color: white;
    background-color: rgb(165, 24, 247);
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    /* max-width: 95%; */
    width: 60vw;
}

#messageInp{
    width: 60%;
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    font-size: 22px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    height: 34px;
    margin-bottom: 10px;
    width: 9%;
    /* bottom: -20px; */
}